/**************************/
/* BELOW 1600px (large desktops) */
/**************************/
@media (min-width: 100em) {
  html {
    font-size: 68.75%;
  }

  .header {
    padding: 2.4rem 14rem;
  }

  .hero__img-box {
    padding-right: 12rem;
  }

  .hero__img {
    width: 58.5rem;
  }
}

/**************************/
/* BELOW 1800px (large desktops) */
/**************************/
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }

  .container {
    max-width: 130rem;
    margin: 0 auto 12rem;
  }

  .header {
    padding: 2.8rem 13rem;
  }

  .hero__img-box {
    padding-right: 15rem;
  }

  .hero__img {
    width: 70.5rem;
  }

  .carriers__content {
    max-width: 64rem;
  }
}

/**************************/
/* BELOW 2000px (large desktops) */
/**************************/
@media (min-width: 125em) {
  html {
    font-size: 82.5%;
  }

  .container {
    max-width: 138rem;
    margin: 0 auto 13rem;
  }

  .header {
    padding: 2.8rem 8rem;
  }

  .hero__img-box {
    padding-right: 18rem;
  }

  .hero__img {
    width: 90.5rem;
  }

  .section-carriers {
    gap: 10rem;
  }
}

/**************************/
/* BELOW 1150px (Smaller desktops) */
/**************************/
@media (max-width: 71.875em) {
  .container {
    max-width: 100rem;
  }

  .section-hero {
    gap: 2rem;
  }

  .hero__img-box {
    padding-top: 4rem;
  }

  .hero__img {
    width: 45.5rem;
  }

  .section-carriers {
    flex-direction: column;
    padding: 12rem 0;
  }

  .carriers__content {
    max-width: 100%;
    padding: 0 12rem 10rem;
  }

  .carriers__img {
    width: 88%;
    align-self: first flex-end;
  }
}

/**************************/
/* BELOW 1050px (tablet) */
/**************************/
@media (max-width: 65.625em) {
  .container {
    max-width: 90rem;
  }

  .section-hero {
    gap: 3rem;
  }

  .hero__img-box {
    padding-right: 8rem;
    padding-top: 2rem;
  }

  .hero__img {
    width: 40.5rem;
  }

  .gamer__content {
    max-width: 40rem;
  }

  .online-games__card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature-1 {
    flex-direction: column;
    gap: 6rem;
  }

  .feature-2 {
    flex-direction: column-reverse;
    gap: 6rem;
  }

  .feature__content {
    max-width: 40rem;
  }

  .feature-1 .feature__text,
  .feature-2 .feature__text {
    text-align: center;
  }

  .section-features .section-heading {
    margin-bottom: 3.2rem;
    line-height: 50px;
    font-size: 4rem;
  }
}

/**************************/
/* BELOW 950px (tablet) */
/**************************/
@media (max-width: 59.375em) {
  .container {
    max-width: 70rem;
  }

  .header {
    flex-direction: column;
    gap: 2.4rem;
  }

  .section-hero {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;

    margin-top: 3.2rem;
    padding-bottom: 4rem;
  }

  .hero__img-box {
    padding: 0 15rem;
  }

  .hero__img {
    width: 100%;
  }

  .hero__content-box {
    width: 100%;
    min-height: 50rem;
  }

  .section-gamer {
    flex-direction: column;
    padding-top: 0;
  }

  .gamer__img {
    width: 100%;
  }

  .gamer__content {
    text-align: center;
  }

  .gamer__content .section-heading {
    margin-bottom: 2.4rem;
  }

  .gamer__content .paragraph {
    margin-bottom: 3.2rem;
  }

  .gamer__quote {
    margin-top: 4.8rem;
  }

  .online-games__card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .online-games__card-container {
    column-gap: 2.4rem;
  }
}

/**************************/
/* BELOW 750px (tablet) */
/**************************/
@media (max-width: 46em) {
  .container {
    max-width: 60rem;
  }

  .feature-img {
    width: 100%;
  }

  .feature-1 .feature__img-box {
    padding-left: 8rem;
  }

  .feature-2 .feature__img-box {
    padding-right: 8rem;
  }

  .feature-1 .feature-card-img {
    transform: translate(-15%, 20%);
  }

  .feature-2 .feature-card-img {
    transform: translate(5%, 35%);
  }

  .section-carriers {
    gap: 4rem;
  }

  .carriers__img {
    width: 95%;
  }

  .carriers__content {
    padding: 0 6rem 5rem;
  }
}

/**************************/
/* BELOW 620px (phone) */
/**************************/

@media (max-width: 38.75em) {
  .container {
    max-width: 100%;
    padding: 0 6rem;
  }

  .header {
    padding: 8rem 10rem;
    box-shadow: none;
  }

  .header__logo {
    margin-bottom: 3rem;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 3.6rem;
  }

  .header__nav-btn {
    margin-top: 1rem;
  }

  .hero__img-box {
    padding: 0 8rem;
  }

  .online-games__card-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 6rem;
  }

  .footer__copyright {
    margin-top: 2rem;
  }
}

/**************************/
/* BELOW 500px (phone) */
/**************************/

@media (max-width: 31.25em) {
  .header {
    padding: 8rem 6rem;
  }

  .hero__img-box {
    padding: 0 4rem;
  }

  .feature-1 .feature__img-box {
    padding-left: 4rem;
  }

  .feature-2 .feature__img-box {
    padding-right: 4rem;
  }

  .feature-card-img {
    width: 15rem;
  }

  .feature-1 .feature-card-img {
    transform: translate(-15%, 20%);
  }

  .feature-2 .feature-card-img {
    transform: translate(15%, -5%);
  }

  .section-carriers {
    gap: 8rem;
  }

  .carriers__content {
    padding: 0 3rem 2rem;
  }
}

/**************************/
/* BELOW 400px (phone) */
/**************************/
@media (max-width: 25em) {
  .container {
    padding: 0 3rem;
  }

  .hero__img-box {
    padding: 0 2rem;
  }
}

/**************************/
/* BELOW 350px (phone) */
/**************************/
@media (max-width: 21.875em) {
  html {
    font-size: 50%;
  }

  .container {
    padding: 0 2rem;
  }
}
