* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
}

body a {
  text-decoration: none;
}

/* ******************* */
/* GENERAL STYLES */
/* ******************* */
.container {
  max-width: 111.6rem;
  margin: 0 auto 10rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-heading {
  font-size: 3.6rem;
  font-weight: 700;
}

.purple-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text {
  background: linear-gradient(180deg, #f948b2 50%, #d63094 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  color: #534c64;
  font-size: 1.6rem;
  line-height: 26px;
}

.btn {
  display: inline-flex;
  padding: 1.3rem 2.4rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 44px;

  color: #fff;
}

.btn--pink {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.btn--skyblue {
  background: #4ec5f7;
}

.btn--white {
  color: #ff42a5;
  background-color: #fff;
}

.col-white {
  color: #fff;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-lg {
  margin-bottom: 2.4rem;
}

/* ******************* */
/* HEADER */
/* ******************* */
.header {
  padding: 2rem 10rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header__logo,
.footer__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo .header__logo-img,
.footer__logo-img {
  width: 7.6rem;
  object-fit: contain;
}

.header__logo .header__logo-text,
.footer__logo-text {
  font-size: 3.6rem;
  font-weight: 700;
  color: #0b0223;
}

.header__logo .header__logo-text span,
.footer__logo-text span {
  color: #ff42a5;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
}

.header__nav-link {
  color: #3c354f;
  font-size: 1.7rem;
  font-weight: 500;
}

.header__nav-btn {
  padding: 1.2rem 2rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1.7rem;
  font-weight: 500;

  display: flex;
  align-items: center;
}

.header__nav-btn > span {
  margin-right: 2.4rem;
}

.header__nav-btn .header__icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header__nav-btn .header__icon {
  height: 2.4rem;
  width: 2.4rem;
}

/* ******************* */
/* HERO  */
/* ******************* */
.section-hero {
  display: flex;
  gap: 6rem;
}

.hero__content-box {
  flex-basis: 50%;
  background: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  position: relative;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__title {
  color: #0b0223;
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.hero__title span {
  display: block;
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__list-info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 3.6rem;
}

.hero__list-info li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.hero__list-info li img {
  height: 2rem;
  width: 2rem;
}

.hero__list-info li span {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: lowercase;
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero__img-box {
  flex: 1;
  padding-right: 10rem;
  width: 100%;
}

.hero__img {
  width: 52.5rem;
}

/* ******************* */
/* GAMER SECTION  */
/* ******************* */
.section-gamer {
  display: flex;
  align-items: center;
  gap: 5rem;

  padding: 8rem 0;
}

.gamer__img {
  flex: 1;
  width: 40rem;
}

.gamer__content {
  text-align: right;
  max-width: 45rem;
}

.gamer__quote {
  margin-top: 2rem;
}

.gamer__quote span {
  display: block;
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 500;
}

.gamer__quote .quote {
  color: #534c64;
  font-size: 2.4rem;
  font-weight: 700;
}

/* ******************* */
/* ONLINE GAMES SECTION  */
/* ******************* */
.section-online-games {
  text-align: center;
}

.online-games__card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.4rem;
  row-gap: 4rem;

  margin-top: 4rem;
  text-align: left;
}

.online-games__img-box {
  position: relative;
  width: 100%;
  height: 31.4rem;

  margin-bottom: 1.2rem;
  border-radius: 16px;
  overflow: hidden;

  cursor: pointer;
}

.online-games__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.online-games__card-title {
  color: #534c64;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 24px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) 50% / cover no-repeat;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.3s;

  z-index: 10;
}

.online-games__img-box:hover .card-overlay {
  opacity: 1;
}

.play-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
}

.play-icon img {
  height: 3.6rem;
  width: 3.6rem;
}

.watch-now {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.8rem;
  font-weight: 600;

  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ******************* */
/* FEATURES SECTION  */
/* ******************* */
.section-features {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 20rem;
}

.feature__content {
  flex: 1;
  display: flex;
}

.feature-1 .feature__content {
  justify-content: flex-end;
}

.feature-1 .feature__text {
  max-width: 30rem;
  text-align: right;
}

.feature__img-box {
  flex: 1;
  position: relative;
}

.feature-img {
  /* width: 45.8rem; */
  height: 48rem;
  object-fit: contain;
}

.feature-card-img {
  width: 23rem;
  object-fit: contain;
}

.feature-2 .feature__content {
  justify-content: flex-start;
}

.feature-2 .feature__text {
  max-width: 42rem;
  text-align: left;
}

.feature-1 .feature-card-img {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-40%, 20%);
}

.feature-2 .feature-card-img {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(40%, 35%);
}

/* ******************* */
/* CARRIERS SECTION  */
/* ******************* */
.section-carriers {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  display: flex;
  align-items: center;

  margin-top: 20rem;
}

.carriers__content-box {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.carriers__content {
  max-width: 57rem;
}

.carriers__content .paragraph {
  line-height: 24px;
  font-size: 1.5rem;
}

.carriers__lists {
  list-style: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 26px;

  margin: 2.4rem 0 3.2rem;
}

.carriers__lists li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.carriers__img {
  flex: 1;
  width: 58rem;
}

/* ******************* */
/* CATEGORIES SECTION  */
/* ******************* */
.section-categories {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );

  padding: 10rem 0;
}

.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.categories.container {
  margin-bottom: 0;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  background: #fff;
  padding: 0.4rem;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: all 0.3s;

  cursor: pointer;
}

.category:hover {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 1px solid #ff42a5;
}

.category__img {
  width: 4.6rem;
  height: 4.6rem;
}

.category__title {
  color: #0b0223;
  font-size: 1.8rem;
  font-weight: 600;
}

/* ******************* */
/* FOOTER SECTION  */
/* ******************* */
.footer {
  background: #0b0223;
  text-align: center;
  padding: 10rem 10rem 10.5rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.footer__logo {
  justify-content: center;
}

.footer__logo-text {
  color: #fff;
}

.footer__nav-lists {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.footer__nav-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer__nav-grey .footer__nav-link,
.footer__copyright {
  color: #ffffff99;
  font-size: 1.4rem;
  font-weight: 500;
}

.footer__social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.footer__social-link {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}

.footer__copyright {
  margin-top: -3.2rem;
}
