* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
}

body a {
  text-decoration: none;
}

/* ******************* */
/* GENERAL STYLES */
/* ******************* */
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-heading {
  font-size: 48px;
  font-weight: 700;
}

.paragraph {
  color: #534c64;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
}

.btn {
  display: inline-flex;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 44px;

  color: #fff;
}

.btn--pink {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.btn--skyblue {
  background: #4ec5f7;
}

/* ******************* */
/* HEADER */
/* ******************* */
.header {
  padding: 2rem 10rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo .header__logo-img {
  width: 7.6rem;
  object-fit: contain;
}

.header__logo .header__logo-text {
  font-size: 3.6rem;
  font-weight: 700;
  color: #0b0223;
}

.header__logo .header__logo-text span {
  color: #ff42a5;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
}

.header__nav-link {
  color: #3c354f;
  font-size: 1.7rem;
  font-weight: 500;
}

.header__nav-btn {
  padding: 1.2rem 2rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1.7rem;
  font-weight: 500;

  display: flex;
  align-items: center;
}

.header__nav-btn > span {
  margin-right: 2.4rem;
}

.header__nav-btn .header__icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header__nav-btn .header__icon {
  height: 2.4rem;
  width: 2.4rem;
}

/* ******************* */
/* HERO  */
/* ******************* */
.section-hero {
  display: flex;
  gap: 6rem;
  /* min-height: calc(100vh - 88px); */
}

.hero__content-box {
  flex: 1;
  background: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;

  padding: 10rem 0 0 10rem;
}

.hero__title {
  color: #0b0223;
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.hero__title span {
  display: block;
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__list-info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 3.6rem;
}

.hero__list-info li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.hero__list-info li img {
  height: 2rem;
  width: 2rem;
}

.hero__list-info li span {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: lowercase;
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero__img-box {
  flex: 1;
  padding-right: 10rem;
  width: 100%;
}

.hero__img {
  width: 52.5rem;
}

/* ******************* */
/* GAMER SECTION  */
/* ******************* */
.section-gamer {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.gamer__img {
  flex: 1;
  width: 40rem;
}

.gamer__content {
  flex: 1;
  text-align: right;
}

.gamer__quote span {
  display: block;
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
}

.gamer__quote .quote {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}
